<!DOCTYPE html>
<html>
    <head>
        <title>Houzez Admin</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

        <%= javascript_pack_tag 'application' %>
    </head>

    <body class="bg-gray-200">
        <% if flash[:alert] %>
            <div class="rounded shadow-xl absolute top-4 right-4 p-4 bg-white flex">
                <svg class="text-red-600 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg>
                <p class="alert"><%= flash[:alert] %></p>
            </div>
        <% end %>
        <% if flash[:notice] %>
            <div class="rounded shadow-xl absolute top-4 right-4 p-4 bg-white flex">
                <svg class="text-green-600 fill-current mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 16.518l-4.5-4.319 1.396-1.435 3.078 2.937 6.105-6.218 1.421 1.409-7.5 7.626z"/></svg>
                <p class="alert"><%= flash[:notice] %></p>
            </div>
        <% end %>
        <%= yield %>
    </body>
</html>
